# Determines whether we are training or running the network
# if training, set to "train"; if running, set to "run"
TRAIN_OR_RUN = train

# Determines number of connectivity layers
NO_LAYERS = 3

# Determines number of activations          
NO_ACTIVATIONS = 2 5 100 3

# Determines number of train/test cases
NO_CASES = 4

# Determines maximum number of training iterations
MAX_ITERATIONS = 100000

# Determines minimum error threshold to stop training
ERROR_THRESHOLD = 0.0002

# Controls how much the weights change per iteration
LEARNING_FACTOR = 0.3

# Determines whether we are loading or randomizing weights
# if loading, set to "load"; if randomizing, set to "rand"
RAND_OR_LOAD = rand

# Determines minimum value for range of randomized weights
WEIGHTS_MIN_VAL = -1.5
# Determines maximum value for range of randomized weights
WEIGHTS_MAX_VAL = 1.5

# Determines the path of the case file to read in inputs and outputs from
CASE_FILE = ./AND_OR_XOR/AND_OR_XOR_cases.txt

# Determines the path of the weights file to load from
LOAD_WEIGHTS_FILE = ./AND_OR_XOR/AND_OR_XOR_weights.txt

# Determines whether we are saving or not saving weights
# if saving, set to "y"; if not, set to "n"
SAVE_WEIGHTS = y

# Determines if we are saving weights after training
# if saving, set to path to write weights to; else, set to nothing
SAVE_WEIGHTS_FILE = ./AND_OR_XOR/AND_OR_XOR_weights.txt